.sequence-container {
  background-color: #f0f0f0;
  padding: 1vh;
  overflow-wrap: break-word;
  border-radius: 2vh;
  margin-bottom: 1vh;
  max-height: 55vh;
  max-width: 50%;
  overflow-y: auto;
}

.sequence {
  white-space: pre-wrap;
  line-height: 4rem;
  letter-spacing: 0.05em;
}

.sequence-container::-webkit-scrollbar {
  width: 1vh;
}

.sequence-container::-webkit-scrollbar-thumb {
  background-color: #634c89a4; /* thumb color */
  border-radius: 2vh; /* Make the thumb rounded */
}

.sequence-container::-webkit-scrollbar-track {
  background-color: #e7d9f65d; /* track color */
  border-radius: 2vh;
}
