.sequence-container {
  background-color: #f0f0f0;
  padding: 1vw;
  overflow-wrap: break-word;
  border-radius: .5vw;
  margin-bottom: 1vw;
  max-height: 55vh;
  overflow-y: auto;
}


.sequence {
  white-space: pre-wrap;
  line-height: 4rem;
  letter-spacing: 0.1em;
}

.sequence-container::-webkit-scrollbar {
  width: 1vw;
}

.sequence-container::-webkit-scrollbar-thumb {
  background-color: #634c89a4; /* thumb color */
  border-radius: 2vw; /* Make the thumb rounded */
}

.sequence-container::-webkit-scrollbar-track {
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: #e7d9f65d; /* track color */
  border-radius: 2vw;
}

.sequence::-moz-selection {
  background: #8c76b178;
}

.sequence::selection {
  background: #8c76b178;
}

