.box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    height: 190px;
    max-height: 190px;
    max-width: 700px;
    width: 700px;
    overflow-y: auto;
    font-size: 80px;
    border-color: #f0f0f01d;
    border-width: 1px;
    border: 2px solid #000; 
    justify-content: left; 
    align-items: center; 
    text-align: left; 
    display: flex; 

  }

  .disp {
    white-space: pre-wrap;
    letter-spacing: 0.05em;
    font-size: 40px;
  }
  
  
  .box::-webkit-scrollbar {
    width: 5px;
  }
  
  .box::-webkit-scrollbar-thumb {
    background-color: #634c89a4; /* thumb color */
    border-radius: 5px; /* Make the thumb rounded */
  }
  
  .box::-webkit-scrollbar-track {
    background-color: #e7d9f65d; /* track color */
    border-radius: 5px;
  }