.box {
    background-color: #f0f0f0;
    padding: 1vw;
    border-radius: 2vw;
    height: 20vw;
    max-height: 20vh;
    max-width: 40vw;
    width: 70vw;
    overflow-y: auto;
    font-size: 5vh;
    border-color: #f0f0f01d;
    border-width: 0.05vw;
    border: 0.05vw solid #000; 
    justify-content: left; 
    align-items: center; 
    text-align: left; 
    display: flex; 
  }
  
  .box::-webkit-scrollbar {
    width: 0.5vh;
  }
  
  .box::-webkit-scrollbar-thumb {
    background-color: #634c89a4; /* thumb color */
    border-radius: 2vh; /* Make the thumb rounded */
  }
  
  .box::-webkit-scrollbar-track {
    background-color: #e7d9f65d; /* track color */
    border-radius: 2vh;
  }
