.form-title{
    font-size: rem;
    color: #665682;
    margin-bottom: 10px;
}

.text-area {
    width: 80%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    white-space: normal;
}

.file-input-container {
    margin-bottom: 10px;
}

.file-upload {
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #665682;
    cursor: pointer;
  }

  
.button-container{
    margin-top: 20px;
}

.generate-button {
    background-color: #665682;
    color: white;
    border: 1px solid #665682;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.error-message{
    color: #801921;
    margin-top: 5px;
    font-weight: bold;
}

.row {
    display: flex;
}
  
.column_left {
    flex: 70%;
}
.column_right {
    flex: 30%;
    border-radius: 40px;
    background-color: rgba(210, 199, 248, 0.732);
    padding:  50px;
}

.dropdown-container {
    flex: 30%;
    border-radius: 40px;
    /* background-color: rgba(210, 199, 248, 0.732); */
    margin-top:  10px;
}

label {
    font-size: smaller;
    margin-right: 10px;
}

.section-label {
    font-size: rem;
    font-weight: 800;
    color: #665682;
    margin-bottom: 10px;
}
