.form-title{
    font-size: rem;
    color: #0f3663;
    margin-bottom: 10px;
}

.text-area {
    width: 80%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    white-space: normal;
}

.file-input-container {
    margin-bottom: 10px;
}

.file-upload {
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: #0f3663;
    cursor: pointer;
  }

  
.button-container{
    margin-top: 20px;
}

.generate-button {
    background-color: #0f3663;
    color: white;
    border: 1px solid #0f3663;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.error-message{
    color: #801921;
    margin-top: 5px;
    font-weight: bold;
}
