.container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 2rem;
    column-gap: 2rem; 
}

.small-container {
    background-color: #ffffff; 
    padding: 5px;
    display: flex;
    align-items: 'left';
    justify-content: 'left';            
    gap: '10px'; 
}


.component{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    position: relative;
    margin-bottom: 1rem;
}
