
.about-page {
    font-family: Arial, sans-serif;
    color: #0f3663;
    padding: 5vw 10vw;
    line-height: 1.8;
}

.about-header {
    text-align: center;
    margin-bottom: 4rem;
}

.about-header h1 {
    font-size: 3rem;
    color: #0f3663;
}

.about-header p {
    font-size: 1.5rem;
    color: #333;
}

.about-section {
    margin-bottom: 3rem;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: #0f3663;
}

.about-section h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #0f3663;
}

.about-section h4 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #333;
}


.about-section p {
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
}

.about-section ul {
    padding-left: 1.5rem;
    list-style: disc;
}

.about-section ul li {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.about-footer {
    text-align: center;
    margin-top: 2rem;
}

.back-button {
    background-color: #0f3663;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
    background-color: #09274d;
}

.image-container,
.image-container2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.image-container img,
.image-container2 img {
    border: 2px solid #d0d0d0;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
}
