/* HomePage.css */


.advantages-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 2rem 2;
    margin: 5vh 10vw; /* Optional: center the container */
    
}

.advantage {
    background: #f9f9f9;
    width: 35vw;
    padding: 2.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left; 
    position: relative;

}

.advantage h3 {
    margin-top: 0;
    color: #0f3663;
    font-size: 1.3rem;
}

.advantage p {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.5;

}

.background-container {
    position: relative;
    margin-top: 0vh;
    padding: 15%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: brightness(100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 54, 99, 0.5);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.title {
    margin-top: 1rem;
    font-size: 4.5rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.subtitle {
    margin-top: 0;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

.description {
    font-size: 2rem;
    color: #0f3663;
    margin: 7vh 10vw;
    font-weight: 600;
}

.description2 {
    font-size: 1.3rem;
    color: #0f3663;
    margin: 8vh 10vw 0;
}

.buttons-container {
    height: 35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10vh;
}

.button {
    font-size: 3rem;
    width: 38vw;
    height: 40vh;
    font-weight: bolder;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    padding-bottom: 2vh;
    position: relative;
}

.visual-button {
    color: #0f3663;
    left: 4vw
}

.primer-button {
    color: white;
    right: 4vw
}
