@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.nav-link:hover {
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
     border-radius: 5%;
     transition: background-color 0.3s;
 }

body {
  background-color: #ccd1e4;
}

h2 {
  color: #0f3663
}

.nav-link.active {
  background-color: #90aad8; /* Active color */
  color: rgb(19, 29, 104);
}
